.header {
  
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: brown;
    color: wheat;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    color: wheat;

}

section {
    margin: 20px;
   
}
.profile-page{
    background-color: wheat;
    margin-top: 0px;
}

.bio {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    
    
}
.bio img {
    width: 20%;
    padding-top: 95px;
}

.about p {
    text-align: left;
    font-size: 15px;
    padding: 50px;
    font-family:Arial, Helvetica, sans-serif;
    
}

h2 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: brown;
}
.work header {
    display: block;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: brown;
}
.work {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    flex-wrap: wrap;
   
}
.project {
    
    padding: 10px;
    text-align: center;
    
}
.project img {
    width: 350px;
    height: 250px;
}
.my-contact {
    font-size: 30px;
    text-align: center;
}


#profileImg {
    width: 70%;
    border-radius: 150px;
    margin-left: 14%;
}
#home-page{
    color: brown;
    text-align: center;
    font-size: 18px;
}
.list{
    background-color: brown;
    color:wheat;
    width: 35rem;
}
.bold{
    font-weight: bold;
}
.profile-list {
    border-bottom: 2px solid wheat;

}
.experience{
    background-color: whitesmoke;
}
.experience header {
    height: 10rem;
    padding-top: 4rem;
    color:brown;
    text-align: center;
}

.objective {
    padding-top: 3rem;
    border-bottom: 2px solid wheat;
    margin-bottom: 2rem;
}

footer {
    text-align: right;
    font-size: 20px;
    font-style: italic;
    background-color: brown;
    padding: 20px 10px 0;
    color: wheat;
}
/*Media query for smaller desktop*/

@media screen and (max-width: 980px) {
    header {
        margin:auto;
    }
    header nav ul li {
        padding-top: 25px;
    }
    h2 {
        font-size: 30px;
    }
    .about p {
        text-align: left;
        font-size: 13px;
        padding: 15px 0 0 20px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .bio {
    
        height: 300px;
        
    }
    .my-contact {
        font-size: 25px;
    }

}
@media screen and (max-width: 768px){
    .my-contact {
        font-size: 20px;
    }
    .about p {
        text-align: left;
        font-size: 12px;
        padding: 0 0 0 20px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .bio {
    
        height: 230px;
    }

    h2{
        font-size: 20px;
        padding: 0 0 0 0;
    }
    .my-contact {
        font-size: 18px;
    }
    .bio img {
        width:20%;
        padding-top:7%;
    }
}
@media screen and (max-width: 575px) {
    .header{
        height: 80px;
    }
    header h1 {
        font-size: 20px;
    }
    
    header nav ul li a {
        font-size: 15px;
        text-align: center;
    }
    .bio img {
        width:25%;
        padding-top: 12%;
    }
    .bio {
    height: 250px;
    }
}